.lefters {
	float:left;
}

li.listElement {
	height: 30px;
	display: table;
	width: 100%;
	margin-bottom: 5px;	
	cursor:pointer;
}

li.listElement div {
	/*text-align: center;*/
  border-radius: 12px;
  border: 2px solid #8AC007;
  margin-bottom: 5px;
  height: 40px;
  vertical-align: middle;
  display: table-cell;
  padding-left: 8px;
}

li.listElement a {
	display: table-cell;
  	height: 30px;
  	width: 300px;
  	text-decoration: none;
  	color: black;
}

div#leftDiv ul {
  padding-left: 5px;
  -webkit-margin-before: 0px;
  -webkit-padding-before: 5px;
  padding-right: 5px;
}

.cont {
	height: 92%;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-radius: 10px;
	float: left;
	width: 48%;
}

.searchCont {
  height: 44px;
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  border-radius: 10px;
  width: 98%;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 7px;
  margin-bottom: 12px;
}

#leftDiv {
	margin-right: 26px;
}

/**/
.expandedRecipe {
	width: 99%;
}

.hideListForRecipe {
	display: none;
}