#centerDude {
	width: 370px;
	margin:auto;
}

#tagList {
	height: 643px;
	margin-top: 10px;
	overflow:hidden; overflow-y:scroll;
	padding-top: 5px;
}

#tagList li {
	list-style: none;
}

.contentBox {
	float: left;
	width: 390px;
	height: 700px;
}

.list-group {
	width: 350px;
}
.glyphicon:hover {
	color:#f66666;
}