h1 > form {
	display : inline;
}

div#headerDiv > * {
    display: inline-table;
}

div#tagsCont ul, div#ingredientCont ul {
	width: 400px;
}

div#imageCont, div#contentCont {
	height: 350px;
}

div#recipeEditBtn {
	height: 32px;
	width: 32px;
	background-image: url("resources/image/edit-icon.png");
	background-repeat	: no-repeat;
	border: 0;
}